<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách sinh viên lớp học phần</strong></h2>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="table-responsive">
        <table class="table table-vcenter table-striped table-bordered">
          <tdead>
            <tr>
              <th class="text-center"><strong>STT</strong></th>
              <th class="text-center"><strong>Lớp chủ nhiệm</strong></th>
              <th class="text-center"><strong>Số sinh viên</strong></th>
              <th class="text-center"><strong>Danh sách lớp</strong></th>
            </tr>
          </tdead>
          <tbody>
            <% if @student_classes.any? %>
              <% @student_classes.each_with_index do |student_class, index| %>
                <tr>
                  <td class="text-center"><%= index + 1 %></td>
                  <td class="text-center"><%= student_class.name %></td>
                  <td class="text-center"><%= student_class.students.count %></td>
                  <td class="text-center">
                    <%= link_to lecturer_student_class_path student_class do %> 
                      <span>view</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
