<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách sinh viên lớp học phần</strong></h2>
  </div>

  <div class="row">
    <div class="text-center">
      <h3><strong>Danh sách sinh viên lớp học phần</strong></h3>
    </div>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>STT</strong></th>
            <th class="text-center"><strong>Lớp chủ nhiệm</strong></th>
            <th class="text-center"><strong>Số sinh viên</strong></th>
            <th class="text-center"><strong>Học kỳ</strong></th>
            <th class="text-center"><strong>Năm học</strong></th>
            <th class="text-center"><strong>Danh sách lớp</strong></th>
          </tr>
        </tdead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td class="text-center">12T3</td>
            <td class="text-center">30</td>
            <td class="text-center">1</td>
            <td class="text-center">2013-2014</td>
            <td class="text-center">
              <%= link_to "#" do %> 
                <span>view</span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
