<div class="block full">
  <div class="block-title">
    <h2><strong>Thông tin cá nhân</strong></h2>
  </div>

  <div class="row text-center">
    <div class="row row-profile">
      <div class="col-md-1 left">
        <span>Họ và tên:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @lecturer.name %></strong>
      </div>
      <div class="col-md-1 left">
        <span>Lớp:</span>
      </div>
      <div class="col-md-2 left">
        <strong>12T3</strong>
      </div>
      <div class="col-md-1 left">
        <span>Ngành:</span>
      </div>
      <div class="col-md-3 left">
        <strong>công nghệ thông tin</strong>
      </div>
    </div>

    <div class="row row-profile">
      <div class="col-md-1 left">
        <span>Họ và tên:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @lecturer.name %></strong>
      </div>
      <div class="col-md-1 left">
        <span>Lớp:</span>
      </div>
      <div class="col-md-2 left">
        <strong>12T3</strong>
      </div>
      <div class="col-md-1 left">
        <span>Ngành:</span>
      </div>
      <div class="col-md-3 left">
        <strong>công nghệ thông tin</strong>
      </div>
    </div>

    <div class="row row-profile">
      <div class="col-md-1 left">
        <span>Họ và tên:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @lecturer.name %></strong>
      </div>
      <div class="col-md-1 left">
        <span>Lớp:</span>
      </div>
      <div class="col-md-2 left">
        <strong>12T3</strong>
      </div>
      <div class="col-md-1 left">
        <span>Ngành:</span>
      </div>
      <div class="col-md-3 left">
        <strong>công nghệ thông tin</strong>
      </div>
    </div>

    <div class="row row-profile">
      <div class="col-md-1 left">
        <span>Họ và tên:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @lecturer.name %></strong>
      </div>
      <div class="col-md-1 left">
        <span>Lớp:</span>
      </div>
      <div class="col-md-2 left">
        <strong>12T3</strong>
      </div>
      <div class="col-md-1 left">
        <span>Ngành:</span>
      </div>
      <div class="col-md-3 left">
        <strong>công nghệ thông tin</strong>
      </div>
    </div>
  </div>
</div>