<div class="block full">
  <div class="block-title">
    <h2><strong>Kết quả học tập</strong></h2>
  </div>

  <div class="row text-center">
    <div class="text-center">
      <h3><strong>Kết quả học tập rèn luyện</strong></h3>
    </div>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>Học kỳ</strong></th>
            <th class="text-center"><strong>Số TC đăng ký</strong></th>
            <th class="text-center"><strong>Số TC học lại</strong></th>
            <th class="text-center"><strong>Số TC tích lũy</strong></th>
            <th class="text-center"><strong>Điểm TB học kỳ</strong></th>
            <th class="text-center"><strong>Điểm TB tích lũy</strong></th>
            <th class="text-center"><strong>Điểm TB học bổng</strong></th>
            <th class="text-center"><strong>Xếp loại</strong></th>
            <th class="text-center"><strong>Năm đào tạo</strong></th>
          </tr>
        </tdead>
        <tbody>
          <tr>
            <td class="text-center">1/2012-2013</td>
            <td class="text-center">17</td>
            <td class="text-center">0</td>
            <td class="text-center">17.0</td>
            <td class="text-center">8.0</td>
            <td class="text-center">6.0</td>
            <td class="text-center">6.0</td>
            <td class="text-center">Bình thường</td>
            <td class="text-center">1</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center">
      <h3><strong>Chi tiết kết quả học tập</strong></h3>
    </div>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>TT</strong></th>
            <th class="text-center"><strong>Học kỳ</strong></th>
            <th class="text-center"><strong>Mã HP</strong></th>
            <th class="text-center"><strong>Tên HP</strong></th>
            <th class="text-center"><strong>Số TC</strong></th>
            <th class="text-center"><strong>Điểm CC</strong></th>
            <th class="text-center"><strong>Điểm BV</strong></th>
            <th class="text-center"><strong>Điểm ĐA</strong></th>
            <th class="text-center"><strong>Điểm BT</strong></th>
            <th class="text-center"><strong>Điểm GK</strong></th>
            <th class="text-center"><strong>Điểm CK</strong></th>
            <th class="text-center"><strong>Điểm T10</strong></th>
            <th class="text-center"><strong>Điểm T4</strong></th>
            <th class="text-center"><strong>Điểm chữ</strong></th>
            <th class="text-center"><strong>Mã LHP</strong></th>
          </tr>
        </tdead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td class="text-center">1/2012-2013</td>
            <td class="text-center">4130241</td>
            <td class="text-center">Những nguyên lý cơ bản của CN Mac-Lênin 1 </td>
            <td class="text-center">2</td>
            <td class="text-center">2</td>
            <td class="text-center">3</td>
            <td class="text-center">6</td>
            <td class="text-center">7</td>
            <td class="text-center">8</td>
            <td class="text-center">6</td>
            <td class="text-center">6</td>
            <td class="text-center">6</td>
            <td class="text-center">C</td>
            <td class="text-center">102070112101212A</td>
          </tr>

          <tr>
            <td class="text-center">1</td>
            <td class="text-center">1/2012-2013</td>
            <td class="text-center">4130241</td>
            <td class="text-center">Những nguyên lý cơ bản của CN Mac-Lênin 1 </td>
            <td class="text-center">2</td>
            <td class="text-center">2</td>
            <td class="text-center">3</td>
            <td class="text-center">6</td>
            <td class="text-center">7</td>
            <td class="text-center">8</td>
            <td class="text-center">6</td>
            <td class="text-center">6</td>
            <td class="text-center">6</td>
            <td class="text-center">C</td>
            <td class="text-center">102070112101212A</td>
          </tr>

          <tr>
            <td class="text-center">1</td>
            <td class="text-center">1/2012-2013</td>
            <td class="text-center">4130241</td>
            <td class="text-center">Những nguyên lý cơ bản của CN Mac-Lênin 1 </td>
            <td class="text-center">2</td>
            <td class="text-center">2</td>
            <td class="text-center">3</td>
            <td class="text-center">6</td>
            <td class="text-center">7</td>
            <td class="text-center">8</td>
            <td class="text-center">6</td>
            <td class="text-center">6</td>
            <td class="text-center">6</td>
            <td class="text-center">C</td>
            <td class="text-center">102070112101212A</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
