<% provide :title, "Cập nhật thông tin học kỳ" %>
<% provide :button_text, "Cập nhật thông tin học kỳ" %>

<div class="block row" style="margin: 5px">
  <div class="block-title">
    <h2><strong>Cập nhật thông tin học kỳ</strong></h2>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
