<% provide :title, "Chỉnh sửa học kỳ" %>
<% provide :button_text, "Chỉnh sửa học kỳ" %>

<div class="block row">
  <div class="block-title">
    <h2><strong>Chỉnh sửa học kỳ</strong></h2>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
