<div class="block full">
  <div class="block-title row">
    <div class="col-md-8">
      <h2><strong>Danh sách học kỳ</strong></h2>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :semester_search, params[:semester_search],
        placeholder: "Tìm kiếm...", class: "form-control search-box", style:"margin: 5px" %> 
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <%= link_to new_admin_semester_path, class:"btn btn-success" do %>
        <i class="fa fa-plus"></i>
        Thêm học kỳ
      <% end %>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="table-responsive">
      <div class="col-md-10 col-md-offset-1">
        <table class="table table-vcenter table-striped table-bordered">
          <tdead>
            <tr>
              <th class="text-center"><strong>STT</strong></th>
              <th class="text-center"><strong>Mã học kỳ</strong></th>
              <th class="text-center"><strong>Tên học kỳ</strong></th>
              <th class="text-center"><strong>Năm học</strong></th>
              <th class="text-center"><strong>Trạng thái</strong></th>
              <th></th>
            </tr>
          </tdead>

          <tbody class="list-semesters">
            <%= render partial: "semester", locals: {semesters: @semesters} %>
          </tbody>
        </table>
        <%= paginate @semesters %>
      </div>
    </div>
  </div>
</div>
