<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách lớp học phần tham gia giảng dạy</strong></h2>
  </div>

  <div class="row text-center">
    <div class="md-col-8 md-col-offset-2">
    <div class="text-center">
      <h3><strong>Danh sách lớp học phần tham gia giảng dạy</strong></h3>
    </div>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>STT</strong></th>
            <th class="text-center"><strong>Mã lớp học phần</strong></th>
            <th class="text-center"><strong>Mã học phần</strong></th>
            <th class="text-center"><strong>Tên học phần</strong></th>
            <th class="text-center"><strong>Số tín chỉ</strong></th>
            <th class="text-center"><strong>Học kỳ</strong></th>
            <th class="text-center"><strong>Năm học</strong></th>
          </tr>
        </tdead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td class="text-center">
              <%= link_to "#" do %>
                <span>fjdskj1020691</span>
              <% end %>
            </td>
            <td class="text-center">1020691</td>
            <td class="text-center">Tin học Đại cương</td>
            <td class="text-center">2</td>
            <td class="text-center">1</td>
            <td class="text-center">2013-2014</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
