<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách sinh viên lớp học phần</strong></h2>
  </div>

  <div class="row">
    <div class="text-center">
      <h3><strong>Danh sách sinh viên lớp học phần</strong></h3>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Mã lớp học phần:</span>
      </div>
      <div class="col-md-3 left">
        <strong>fdsaf5fd</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Tên học phần:</span>
      </div>
      <div class="col-md-3 left">
        <strong>Tin hoc dai cuong</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Học kỳ:</span>
      </div>
      <div class="col-md-3 left">
        <strong>1</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Năm học:</span>
      </div>
      <div class="col-md-3 left">
        <strong>2016-2017</strong>
      </div>
    </div>
    <br>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>STT</strong></th>
            <th class="text-center"><strong>Mã sinh viên</strong></th>
            <th class="text-center"><strong>Họ và tên</strong></th>
            <th class="text-center"><strong>Email</strong></th>
            <th class="text-center"><strong>Chức vụ</strong></th>
            <th class="text-center"><strong>Ngày sinh</strong></th>
            <th class="text-center"><strong>Giới tính</strong></th>
            <th class="text-center"><strong>Số điện thoại</strong></th>
            <th class="text-center"><strong>Lớp sinh hoạt</strong></th>
          </tr>
        </tdead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td class="text-center">1020691102</td>
            <td class="text-center">Trần văn A</td>
            <td class="text-center">vana@gmail.com</td>
            <td class="text-center">Lớp trưởng</td>
            <td class="text-center">12/5/1995</td>
            <td class="text-center">Nam</td>
            <td class="text-center">0987322368</td>
            <td class="text-center">12T3</td>
          </tr>
          <tr>
            <td class="text-center">1</td>
            <td class="text-center">1020691102</td>
            <td class="text-center">Trần văn A</td>
            <td class="text-center">vana@gmail.com</td>
            <td class="text-center"></td>
            <td class="text-center">12/5/1995</td>
            <td class="text-center">Nam</td>
            <td class="text-center">0987322368</td>
            <td class="text-center">12T3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
