<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách học phần tham gia giảng dạy</strong></h2>
  </div>

  <div class="row text-center">
    <div class="md-col-8 md-col-offset-2">
    <div class="text-center">
      <h3><strong>Danh sách lớp phần tham gia giảng dạy</strong></h3>
    </div>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>STT</strong></th>
            <th class="text-center"><strong>Mã học phần</strong></th>
            <th class="text-center"><strong>Tên học phần</strong></th>
            <th class="text-center"><strong>Số tín chỉ</strong></th>
            <th class="text-center"><strong></strong></th>
          </tr>
        </tdead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td class="text-center">1020691</td>
            <td class="text-center">Tin học Đại cương</td>
            <td class="text-center">2</td>
            <td class="text-center">
              <div class="btn-group">
                <%= link_to "#", class:"btn btn-xs btn-default" do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to "#", class:"btn btn-xs btn-danger" do %>
                  <i class="fa fa-times"></i>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
