.left {
  text-align: left;
  margin-left: 10px;
}

.row-profile {
  margin-top: 20px;
}

.text-left {
  text-align: left;
}

.margin-add-col{
  margin-left: 10px;
}

.search-box {
  border-radius: 20px;
}


.btn-action {
  width: 65px;
}