<header class="navbar navbar-default">
  <ul class="nav navbar-nav-custom pull-right">
    <% if admin_signed_in? %>
      <li>
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <i class="gi gi-exit"></i> Đăng xuất
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_admin_session_path do %>
          <i class="gi gi-exit"></i> Đăng nhập
        <% end %>
      </li>
    <% end %>
  </ul>
</header>
