<header class="navbar navbar-default">
  <ul class="nav navbar-nav-custom">
    <li>
      <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
        <i class="fa fa-bars fa-fw"></i>
      </a>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
       <i class="gi gi-settings"></i>
      </a>
      <ul class="dropdown-menu dropdown-custom dropdown-options">
        <li class="dropdown-header text-center">Header Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-default">Light</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-inverse">Dark</a>
          </div>
        </li>
        <li class="dropdown-header text-center">Page Style</li>
        <li>
          <div class="btn-group btn-group-justified btn-group-sm">
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style">Default</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style-alt">Alternative</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <form action="page_ready_search_results.html" method="post" class="navbar-form-custom" role="search">
    <div class="form-group">
      <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
    </div>
  </form>
  <ul class="nav navbar-nav-custom pull-right">
    <li>
      <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt', 'toggle-other');">
        <i class="gi gi-share_alt"></i>
        <span class="label label-primary label-indicator animation-floating">4</span>
      </a>
    </li>
    <% if true %>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user fa-fw"></i>
        </a>
        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
          <li class="dropdown-header text-center">Tài khoản</li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user fa-fw"></i>
               Thông tin cá nhân
            <% end %>
            <a href="#modal-user-settings" data-toggle="modal">
              <i class="fa fa-cog fa-fw"></i>
               Cài đặt
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "#", method: :delete do %>
              <i class="gi gi-exit"></i> Đăng xuất
            <% end %>
          </li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to "#" do %>
          <i class="gi gi-exit"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</header>
