<footer class="clearfix">
  <div class="pull-right">
    Designed <i class="fa fa-heart text-danger"></i> by 
    <a href="https://www.facebook.com/Gunbbz" target="_blank">Tam Tran</a>
  </div>
</footer>
