<header class="navbar navbar-default">
  <ul class="nav navbar-nav-custom">
    <li>
      <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
        <i class="fa fa-bars fa-fw"></i>
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav-custom pull-right">
    <% if student_signed_in? %>
      <li>
        <%= link_to destroy_student_session_path, method: :delete do %>
          <i class="gi gi-exit"></i> Đăng xuất
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_student_session_path do %>
          <i class="gi gi-exit"></i> Đăng nhập
        <% end %>
      </li>
    <% end %>
  </ul>
</header>
